body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  margin: 20px;
  display: flex;
}

.nav .button {
  text-decoration: none;
  color: #fff;
  background: #28a745;
  padding: 10px 34px;
  border-radius: 5px;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#moduleSwitchForm div, #moduleIntervalForm div {
  display: block; 
  margin-bottom: 15px;
}

#moduleSwitchForm div label {
  display: inline-block;
  overflow: hidden;
  width: 120px; 
}

#moduleIntervalForm div label {
  display: inline-block;
  width: 400px; 
}

#moduleSwitchForm div label input[type="checkbox"] {
  vertical-align: middle; 
  float: right; 
  transform: scale(1.2);
}

#moduleIntervalForm div label input[type="number"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; 
  box-sizing: border-box; 
  vertical-align: middle; 
  float: right; 
}

.btn {
  background: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 165px;
  font-size: 105%;
}

.btn:hover, .nav .button:hover {
  background: #218838;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.wlanlabel {
  display: inline-block;
  width: 120px; 
}
#wlanSSID, #wlanPASSWORD{
  width: 200px; 
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  width: 350px
}

.saved-credentials div label, 
.saved-credentials div span,
#wlanForm div label,
#wlanForm div input {
  margin-bottom: 8px;
}